{% load static %}

<!-- news -->
<a name="noticias"></a>
<section class="news mt-[80px] xl:mt-[150px] relative z-20">
    <div class="container mx-auto px-0">

        <!-- text -->
        <div class="max-w-[810px] mx-auto text-center mb-[52px]">
            <h2 class="news__title h2 mb-3">Noticias</h2>
            <p class="news__subtitle">
                Se Vienen Cositas
            </p>
        </div>

        <!-- grid -->
        <div class="news__grid grid grid-cols-1 xl:grid-cols-3 gap-[27px]">
            <!-- grid item 1 -->
            
            {% for new in news %}
                <div class="news__item w-full max-w-[382px] h-[520px] border border-primary/20 rounded-[62px] p-[20px] hover:bg-accent-secondary transition-all group cursor-pointer mx-auto xl:mx-0">
                    <img class="mb-5 w-[340px] h-[340px]" src="{{ new.image.url }}" alt="">
                    <div class="flex flex-col gap-[30px]">
                        <h3 class="h3">
                            {{ new.title }}
                        </h3>
                        <div class="flex items-center justify-between">
                            <p class="text-base">{{ new.publication_date }}</p>
                            <a href="{%  url 'news:page' slug=new.slug %}">
                                <button class="bg-accent-secondary w-[52px] h-[52px] rounded-full group-hover:bg-white transition-all">
                                    <div class="ri-arrow-right-s-line text-3xl text-primary pl-1"></div>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="container justify-center mx-auto">
                <a href="{% url 'newshistory' %}">
                    <button class="btn btn-primary items-center mx-auto xl:mx-0">
                        Ver más
                        <i class="ri-arrow-right-line text-accent"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>