{% load static %}

<!-- stats -->
<section class="stats mt-[80px] xl:mt-[150px] relative z-20 bg-accent/20 py-[80px] xl:py-[150px]">
    <div class="container mx-auto">
        <!-- grid -->
        <div class="grid grid-cols-1 xl:grid-cols-4 gap-12">
            <!-- grid item 1-->
            <div class="stats__item text-center xl:border-r">
                <h3 class="h1 font-primary text-accent">12</h3>
                <p>Años de Experiencia</p>
            </div>

            <!-- grid item 2-->
            <div class="stats__item text-center xl:border-r">
                <h3 class="h1 font-primary text-accent">85</h3>
                <p>Projectos Completados</p>
            </div>
            
            <!-- grid item 3-->
            <div class="stats__item text-center xl:border-r">
                <h3 class="h1 font-primary text-accent">15</h3>
                <p>Projectos Activos</p>
            </div>
            
            <!-- grid item 4-->
            <div class="stats__item text-center">
                <h3 class="h1 font-primary text-accent">85</h3>
                <p>Clientes Felices</p>
            </div>
        </div>
    </div>
</section>