{% load static %}

<!-- nosotros -->
<a name="nosotros"></a>
<section class="about mt-[80px] xl:mt-[200px] relative z-20">
    <div class="container mx-auto xl:px-0">
        <div class="flex flex-col xl:flex-row text-center xl:text-left justify-between items-center gap-8 xl:gap-[74px]">
            <!-- text -->
            <div class="about__text xl:ml-[50px] flex-1 order-2 xl:order-none max-w-xl xl:max-w-[410px] flex flex-col items-center gap-8 xl:items-start">
                <h2 class="h2">Nosotros Creamos Arte Y Elegancia.</h2>
                <p>
                    En Florencia Y Punto, nos apasiona crear carteras artesanales únicas, confeccionadas a mano con materiales de la más alta calidad. Cada pieza refleja nuestro compromiso con la tradición, el diseño y la durabilidad, para ofrecerte un accesorio que combina elegancia y funcionalidad.
                </p>
            </div>

            <!-- image -->
            <div class="about__img order-1 xl:order-none max-w-[453px] mx-auto xl:max-w-[500px] xl:mx-0">
                <img src="../media/about/cartera-nosotros.png" alt="">
            </div>
        </div>
    </div>
</section>