{% load static %}

<!-- contact -->
<a name="contacto"></a>
<section class="contact mt-[80px] xl:mt-[150px] relative z-20">
    <div class="contact__container container mx-auto bg-primary sm:rounded-[70px] py-[80px]">
        <div class="contact__text max-w-[640px] mx-auto text-center">
            <h2 class="h2 text-white mb-4">Quieres Contactarnos?</h2>
            <p class="text-white mb-8 max-w-sm xl:max-w-none mx-auto">Si quieres contactarnos puedes hacerlo por nuestros Canales Oficiales.</p>
            <button class="btn btn-accent mx-auto">
                Contactos Aquí <div class="ri-arrow-right-line text-primary"></div>
            </button>
        </div>
    </div>
</section>