{% load static %}

<!-- steps -->
<section class="steps mt-[80px] xl:mt-[200px] relative z-20">
    <div class="container mx-auto">
    <!-- grid items -->
        <div class="grid grid-cols-1 gap-12 xl:grid-cols-3">
            <!-- step 1 -->
            <div class="steps__step text-center">
                <div class="mb-4">
                    <i class="ri-star-fill text-5xl text-accent"></i>
                </div>
                <h3 class="h3 mb-5">Materiales de Calidad</h3>
                <p class="mb-5 max-w-md mx-auto">
                    Nuestros materiales son de la mejor calidad para garantizar la durabilidad y resistencia de tus carteras.
                </p>
                <a href="#" class="font-medium flex justify-center gap-2">
                    Leer más
                    <i class="ri-arrow-right-fill text-accent"></i>
                </a>
            </div>

            <!-- step 2 -->
            <div class="steps__step text-center">
                <div class="mb-4">
                    <i class="ri-scissors-line text-5xl text-accent"></i>
                </div>
                <h3 class="h3 mb-5">Diseños Unicos</h3>
                <p class="mb-5 max-w-md mx-auto">
                    Nuestros diseños son exclusivos para ti, con un diseño personalizado y un diseño de alta calidad.
                </p>
                <a href="#" class="font-medium flex justify-center gap-2">
                    Leer más
                    <i class="ri-arrow-right-fill text-accent"></i>
                </a>
            </div>
            
            <!-- step 3 -->
            <div class="steps__step text-center">
                <div class="mb-4">
                    <i class="ri-earth-fill text-5xl text-accent"></i>
                </div>
                <h3 class="h3 mb-5">Eco-Friendly</h3>
                <p class="mb-5 max-w-md mx-auto">
                    Nuestros productos son eco-friendly, con una producción y diseño responsables para mantener el medio ambiente.
                </p>
                <a href="#" class="font-medium flex justify-center gap-2">
                    Leer más
                    <i class="ri-arrow-right-fill text-accent"></i>
                </a>
            </div>
        </div> 
    </div>
</section>