{% extends 'base.html' %}


{% block title %}
    {{ bag.name }}
{% endblock title %}
    
{% block content %}
    <!-- Prueba Start -->

    <!-- Prueba End -->
    <section class="relative">
        <div class="w-full mx-auto px-4 sm:px-6 xl:px-0">
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-16 mx-auto max-md:px-2 ">
                <div class="img">
                    <div class="img-box h-full xl:mx-auto">

                        

                        <!-- test -->
                        <div class="relative container mx-auto px-6">
                            <div class="swiper default-carousel swiper-container">
                                <div class="swiper-wrapper mx-auto">
                                    <div class="swiper-slide object-scale-down mx-auto max-h-[150px]">
                                        <div class="bg-indigo-50 rounded-2xl flex justify-center items-center">
                                            <img src="{{ bag.image.url }}" alt="" class="h-[50px]">

                                        </div>
                                    </div>
                                    {% for p in photoslist %}
                                        <div class="swiper-slide">
                                            <div class="bg-indigo-50 rounded-2xl h-10 flex justify-center items-center">
                                                <img src="{{ p.images.url }}" alt="" class="h-[50px]">
                                            </div>
                                        </div>
                                    {% endfor %}
                                        
                                </div>
                                
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <!-- end test -->
                        
                    </div>
                </div>
                <div
                    class="data w-full xl:pr-8 pr-0 xl:justify-start justify-center flex items-center max-xl:pb-10 xl:my-5 my-0">
                    <div class="data w-full max-w-xl">
                        <p class="text-xl font-medium leading-8 text-indigo-600 mb-4">Cartera&nbsp; /&nbsp; Unisex
                        </p>
                        <h2 class="font-manrope font-bold text-3xl leading-10 text-gray-900 mb-2 capitalize">
                            {{ bag.name }}
                        </h2>
                        <div class="flex flex-col sm:flex-row sm:items-center mb-6">
                            <h6
                                class="font-manrope font-semibold text-2xl leading-9 text-gray-900 pr-5 sm:border-r border-gray-200 mr-5">
                                ${{ bag.price }}</h6>
                        </div>
                        <h3 class="h3">Description</h3>
                        <p class="text-gray-500 text-base font-normal mb-5">
                            {{ bag.description }}
                        </p>
                        
                        <ul class="grid gap-y-4 mb-8">
                            <h3 class="h3">Materiales</h3>
                            <li class="flex items-center gap-3">
                                <span class="font-secondary text-base text-gray-900 ">{{ bag.material }}</span>
                            </li>
                        </ul>


                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 py-8">
                            <button class="bg-accent-secondary hover:bg-accent/20 w-[85px] h-[70px] rounded-full">
                                Contactar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

{% endblock content %}
    