{% extends 'base.html' %}

{% block title %}
    Florencia Y Punto
{% endblock title %}

{% block content %}

    {% include './partials/hero.html' %}

    {% include './partials/steps.html' %}

    {% include './partials/about.html' %}

    {% include './partials/bags.html' %}

    {% include './partials/brands.html' %}

    {% include './partials/work.html' %}

    {% include './partials/stats.html' %}

    {% include './partials/news.html' %}

    {% include './partials/contact.html' %}

{% endblock content %}