{% extends 'base.html' %}


{% block title %}
    {{ new.slug }}
{% endblock title %}


{% block content %}
    <div class="max-w-3xl px-4 pt-6 xl:pt-10 pb-12 sm:px-6 xl:px-8 mx-auto xl:mx-auto">
        <div class="max-w-2xl">
            <!-- Content -->
            <div class="space-y-5 md:space-y-8">
                <div class="space-y-3">
                    <h1 class="h1 font-bold text-center md:text-3xl dark:text-white mt-6 mb-6">{{ new.title }}</h1>
                    <p class="text-lg text-gray-800 dark:text-neutral-200 mt-6 mb-6">{{ new.content|safe }}</p>
                    <br>
                </div>
                
                <figure>
                    <img class="w-full object-cover rounded-xl" src="{{ new.image.url }}" alt="">
                    <figcaption class="mt-3 text-sm text-center text-gray-500 dark:text-neutral-500">
                        {{ new.title }}
                    </figcaption>
                </figure>        
            </div>
            <!-- End Content -->
        </div>
    </div>
{% endblock content %}